<table class="table table-striped">
  <thead>
    <tr>
      <th>Event</th>
			<th class="centered">Place</th>
    </tr>
  </thead>
  <tbody>
    <% @registrations.each do |registration| %>
      <tr>
        <td><%= link_to registration.event.name, section_path(registration.section.id) %></td>
        <% if registration.section.tournament.active %>
  				<td class="centered">
  				  --
  				</td>
        <%else %>
          <td>
            <%= final_standing_name(registration.final_standing)%>
          </td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @registrations, :previous_label => "Previous", :next_label => "Next" %>